@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&family=Roboto+Condensed:wght@400;700&display=swap');

:root{
    --text-title:'Roboto Condensed', sans-serif;
}


body{
    background-color: #C6C6C6;
}

.options{
    width: 220px;
    height: 100vh;
    background-color: black;
    font-family: var(--text-title);
    list-style: none;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.options_struct{
    width: 200px;
    margin-top: 60px;
}

.appLink{
    width: 140px;
    height: 80px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-bottom:10px;
    transition: .2s ease-in-out;
}

.appLinkImg{
    width: 4.5vh;
}

.appLinkTitle{
    Color: white;
    width: 30px;
    margin-left:1.5rem;
}

.appLink:hover{
    background-color: #D9D9D9;
    border-radius: 80px;
    width: 100%;
    opacity: 0.8;
}